<div class="row">
  <div class="col-md-8">
    <h2><%= soundboard.name %> <a href="/soundboard/<%=soundboard._id%>">
      (public page)</a></h2>
    <h5><%= soundboard.description %></h5>

    <table class="table table-striped table-bordered">
      <tr>
        <td>Name</td>
        <td>Play</td>
        <td>Admin Controls</td>
      </tr>
      <% for (var i = 0; i < soundboard.sounds.length; i++) { %>
        <tr>
          <td><%= soundboard.sounds[i].name %></td>
          <td><a href="#" id="play<%= i %>" style="color:black; text-decoration:none">
            &#x25b6;</a></td>
          <td>
            <% if (i != 0) { %>
              <form action="/soundboard/<%=soundboard._id%>/swap" method="post">
                <input type="hidden" name="i" value="<%= i - 1 %>">
                <input type="hidden" name="j" value="<%= i %>">
                <input type="submit" class="btn btn-primary btn-xs" value="&#8593;" 
                  style="float:left">
              </form>
            <% } %>

            <% if (i != soundboard.sounds.length - 1) { %>
              <form action="/soundboard/<%=soundboard._id%>/swap" method="post">
                <input type="hidden" name="i" value="<%= i %>">
                <input type="hidden" name="j" value="<%= i + 1 %>">
                <input type="submit" class="btn btn-info btn-xs" value="&#8595;" 
                  style="float:left">
              </form>
            <% } %>

            <form action="/sound/<%=soundboard.sounds[i]._id%>/delete"
              method="post"><input type="submit" class="btn btn-danger btn-xs"
                value="Delete" style="float:right">
            </form>
          </td>
        </tr>
      <% } %>
    </table>
  </div>

  <div class="col-md-4">
    <form action="/sound/new" enctype="multipart/form-data" method="post">
      <div class="form-group">
        <label for="name">Sound Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Name">
      </div>

      <div class="form-group">
        <label for="file">MP3</label>
        <input type="file" class="form-control" id="file" name="file">
        <p class="help-block">Files can be a maximum of 100 KB in size.</p>
      </div>

      <input type="hidden" id="board" name="board" value="<%= soundboard._id %>">

      <button type="submit" class="btn btn-success">Upload!</button>
    </form>
  </div>
</div>

<script src="/static/js/soundboard.js" type="text/javascript" charset="utf-8"></script>

<script>
  var sounds = <%- JSON.stringify(soundboard.sounds) %>;
</script>