<% include layouts/header.ejs %>
<div class="row">
  <div class="col-md-12">
    <h3><%= error.message %> (status <%= error.status %>)</h3>
    <pre><%= error.stack %></pre>
  </div>
</div>
<% include layouts/footer.ejs %>
