<div class="row">
  <div class="twelve columns">
    <div class="jumbotron">
      <h2>Make soundboards for you and your friends.</h2>

      Soundboard.js is an easy-to-use platform for designing awesome
      soundboards. Upload your own MP3 clips to our service, publish the board,
      and share it with your friends for maximum laughter and entertainment.
    </div>
  </div>
</div>
