<div class="row">
  <div class="col-md-12">
    <h3>Login</h3>
    <form action="/login" method="post" class="form-inline">
      <input type="text" class="form-control" name="username" placeholder="Username">
      <input type="password" class="form-control" name="password" placeholder="Password">
      <input type="submit" class="btn btn-primary" value="Log in">
    </form>
  </div>
</div>
<br />
<br />
<div class="row">
  <div class="col-md-12">
    <h3>Register</h3>
    <form action="/register" method="post" class="form-inline">
      <input type="text" class="form-control" name="username" placeholder="Username">
      <input type="email" class="form-control" name="email" placeholder="Email">
      <input type="password" class="form-control" name="password" placeholder="Password">
      <input type="password" class="form-control" name="password2" placeholder="Password (repeat)">
      <input type="submit" class="btn btn-success" value="Register">
    </form>
  </div>
</div>
