<div class="row">
  <div class="col-md-4">
    <h3>Create a new soundboard!</h3>
    <form action="/soundboard/new" method="post">
      <div class="form-group">
        <label for="name">Name of soundboard</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="description">Add a description</label>
        <input type="text" class="form-control" id="description" name="description"
        placeholder="Description">
        <p class="help-block">Don't worry, you'll be able to upload sounds on the next
          screen.</p>
      </div>
      <input type="submit" class="btn btn-success" value="Create">
    </form>
  </div>
</div>
