<div class="row">
  <div class="col-md-6">
    <h2><%= soundboard.name %></h2>
    <h5><%= soundboard.description %></h5>

    <ul class="list-group">
      <% for (var i = 0; i < soundboard.sounds.length; i++) { %>
        <li class="list-group-item">
          <%= soundboard.sounds[i].name %>
          <span class="badge"><a href="#" id="play<%= i %>"
            style="color:white; text-decoration:none">&#x25b6;</a></span>
        </li>
      <% } %>
    </ul>
  </div>
</div>

<script src="/static/js/soundboard.js" type="text/javascript" charset="utf-8"></script>

<script>
  var sounds = <%- JSON.stringify(soundboard.sounds) %>;
</script>