<div class="row">
  <div class="col-md-=6">
    <h2>Soundboards by <%= user.username %></h2>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <ul class="list-group">
      <% if (authUser && authUser._id.toString() === user._id.toString()) { %>
        <% for (var i = 0; i < soundboards.length; i++) { %>
          <li class="list-group-item">
            <a href="/soundboard/<%=soundboards[i]._id%>"><%= soundboards[i].name %></a>
            <span class="badge">
              <a href="/soundboard/<%=soundboards[i]._id%>/edit"
                style="color:white; text-decoration:none">EDIT</a>
            </span>
          </li>
        <% } %>
      <% } else { %>
        <% for (var i = 0; i < soundboards.length; i++) { %>
          <a href="/soundboard/<%=soundboards[i]._id%>" class="list-group-item">
            <%= soundboards[i].name %>
          </a>
        <% } %>
      <% } %>
    </ul>
  </div>
</div>