<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Soundboard.js</a>
      </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <% if (authUser) { %>
              <li><a href="/soundboard/new">Create</a></li>
            <% } %>
          </ul>

          <p class="navbar-text navbar-right" style="padding-right:2%">
            <% if (authUser) { %>
              Signed in as <strong><a href="/user/<%=authUser._id%>"><%= authUser.username %></a></strong>. 
              <a href="/logout">Logout?</a>
            <% } else { %>
              <a href="/login">Login or Register</a>
            <% } %>
          </p>
        </div>

    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <% for (var i = 0; i < errorFlashes.length; i++) { %>
          <div class="alert alert-danger" role="alert">
            <%= errorFlashes[i] %>
          </div>
        <% } %>
        <% for (var i = 0; i < successFlashes.length; i++) { %>
          <div class="alert alert-success" role="alert">
            <%= successFlashes[i] %>
          </div>
        <% } %>
      </div>
    </div>