<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Soundboard.js</title>
  <meta name="description" content="JavaScript soundboard generator.">
  <meta name="author" content="Max Scheiber">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

  <link rel="icon" type="image/png" href="images/favicon.png" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/buzz/1.1.10/buzz.min.js" type="text/javascript" charset="utf-8"></script>
</head>

<% include body_beginning.ejs %>
